aliases:
  - &upgrade-git
    name: Update Git
    command:  |
      git --version
      sudo apt-get install \
        build-essential flex bison \
        libreadline6-dev zlib1g-dev \
        libssl-dev \
        libcurl4-gnutls-dev \
        libexpat1-dev \
        tcl tk \
        tcl-dev gettext \
        asciidoc \
        docbook2x

      wget https://www.kernel.org/pub/software/scm/git/git-2.13.0.tar.gz
      tar -xvzf git-2.13.0.tar.gz
      cd git-2.13.0
      sudo ./configure
      sudo make && sudo make install
      git --version

  - &downgrade-cocoapods
    name: Downgrade to CocoaPods 1.4
    command:  |
      echo Y | sudo gem uninstall cocoapods
      sudo gem install cocoapods -v 1.4
    when: always

  - &downgrade-node
    name: Downgrade to Node 8
    command: |
      brew install node@8
      brew unlink node
      brew link --overwrite node@8
      echo 'export PATH="/usr/local/opt/node@8/bin:$PATH"' >> ~/.bash_profile
    when: always

  - &setup
    name: Setup
    command:  |
      node ./install.js
      npm install -g cordova@8.0.0
      cordova telemetry off
      which cordova
    when: always

  - &install-ant
    name: Install Ant
    command: brew install ant

linux: &linux
  working_directory: ~/SalesforceMobileSDK-Package
  docker:
    - image: circleci/android:api-28-node8-alpha
  environment:
    - TERM: "dumb"
    - ADB_INSTALL_TIMEOUT: 15
    - _JAVA_OPTIONS: "-XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap"
    - GRADLE_OPTS: '-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs="-XX:+HeapDumpOnOutOfMemoryError"'
    - ANDROID_NDK: '/opt/ndk/android-ndk-r10e'
    - BUILD_THREADS: 2

mac: &mac
  working_directory: ~/SalesforceMobileSDK-Package
  macos:
    xcode: "9.4.1"
  shell: /bin/bash --login -eo pipefail

version: 2
jobs:
  build-forcedroid:
    <<: *linux
    steps:
      - checkout
      - run: *upgrade-git
      - run: *setup
      - run:
          name: Build Native Java App
          command:  |
            ./test/test_force.js --os=android --apptype=native
            if [ ! -e tmp**/App_native_android/app/build/outputs/apk/debug/app-debug.apk ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Native Kotlin App
          command:  |
            ./test/test_force.js --os=android --apptype=native_kotlin
            if [ ! -e tmp**/App_native_kotlin_android/app/build/outputs/apk/debug/app-debug.apk ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Hybrid Local App
          command:  |
            ./test/test_force.js --os=android --apptype=hybrid_local
            if [ ! -e tmp**/App_hybrid_local_android/platforms/android/app/build/outputs/apk/debug/app-debug.apk ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Hybrid Remote App
          command:  |
            ./test/test_force.js --os=android --apptype=hybrid_remote
            if [ ! -e tmp**/App_hybrid_remote_android/platforms/android/app/build/outputs/apk/debug/app-debug.apk ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build React Native App
          command:  |
            ./test/test_force.js --os=android --apptype=react_native
            if [ ! -e tmp**/App_react_native_android/android/app/build/outputs/apk/debug/app-debug.apk  ]; then
              exit 1
            fi
          when: always

  build-forcedroid-sfdx:
    <<: *linux
    steps:
      - checkout
      - run: *upgrade-git
      - run: *setup
      - run:
          name: Build Native Java App with SFDX
          command:  |
            ./test/test_force.js --os=android --apptype=native --use-sfdx
            if [ ! -e tmp**/App_native_android/app/build/outputs/apk/debug/app-debug.apk ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Native Kotlin App with SFDX
          command:  |
            ./test/test_force.js --os=android --apptype=native_kotlin --use-sfdx
            if [ ! -e tmp13920/App_native_kotlin_android/app/build/outputs/apk/debug/app-debug.apk ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Hybrid Local App with SFDX
          command:  |
            ./test/test_force.js --os=android --apptype=hybrid_local --use-sfdx
            if [ ! -e tmp**/App_hybrid_local_android/platforms/android/app/build/outputs/apk/debug/app-debug.apk ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Hybrid Remote App with SFDX
          command:  |
            ./test/test_force.js --os=android --apptype=hybrid_remote --use-sfdx
            if [ ! -e tmp**/App_hybrid_remote_android/platforms/android/app/build/outputs/apk/debug/app-debug.apk ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build React Native App with SFDX
          command:  |
            ./test/test_force.js --os=android --apptype=react_native --use-sfdx
            if [ ! -e tmp**/App_react_native_android/android/app/build/outputs/apk/debug/app-debug.apk  ]; then
              exit 1
            fi
          when: always

  build-forceios:
    <<: *mac
    steps:
      - checkout
      - run: *setup
      - run: *install-ant
      - run: *downgrade-cocoapods
      - run: *downgrade-node
      - run:
          name: Build Native Objective-C App
          command:  |
            ./test/test_force.js --os=ios --apptype=native
            if [ ! -e /Users/distiller/Library/Developer/Xcode/DerivedData/App_native_ios-**/Build/Products/Debug-iphoneos/App_native_ios.app ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Native Swift App
          command:  |
            ./test/test_force.js --os=ios --apptype=native_swift
            if [ ! -e /Users/distiller/Library/Developer/Xcode/DerivedData/App_native_swift_ios-**/Build/Products/Debug-iphoneos/App_native_swift_ios.app ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Hybrid Local App
          command:  |
            which cordova
            ./test/test_force.js --os=ios --apptype=hybrid_local
            if [ ! -e tmp**/App_hybrid_local_ios/platforms/ios/build/emulator/App_hybrid_local_ios.app ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Hybrid Remote App
          command:  |
            ./test/test_force.js --os=ios --apptype=hybrid_remote
            if [ ! -e tmp**/App_hybrid_remote_ios/platforms/ios/build/emulator/App_hybrid_remote_ios.app ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build React Native App
          command:  |
            ./test/test_force.js --os=ios --apptype=react_native
            if [ ! -e /Users/distiller/Library/Developer/Xcode/DerivedData/App_react_native_ios-**/Build/Products/Debug-iphoneos/App_react_native_ios.app ]; then
              exit 1
            fi
          when: always

  build-forceios-sfdx:
    <<: *mac
    steps:
      - checkout
      - run: *setup
      - run: *install-ant
      - run: *downgrade-cocoapods
      - run: *downgrade-node
      - run:
          name: Build Native Objective-C App with SFDX
          command:  |
            ./test/test_force.js --os=ios --apptype=native --use-sfdx
            if [ ! -e /Users/distiller/Library/Developer/Xcode/DerivedData/App_native_ios-**/Build/Products/Debug-iphoneos/App_native_ios.app ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Native Swift App with SFDX
          command:  |
            ./test/test_force.js --os=ios --apptype=native_swift --use-sfdx
            if [ ! -e /Users/distiller/Library/Developer/Xcode/DerivedData/App_native_swift_ios-**/Build/Products/Debug-iphoneos/App_native_swift_ios.app ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Hybrid Local App with SFDX
          command:  |
            which cordova
            ./test/test_force.js --os=ios --apptype=hybrid_local --use-sfdx
            if [ ! -e tmp**/App_hybrid_local_ios/platforms/ios/build/emulator/App_hybrid_local_ios.app ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build Hybrid Remote App with SFDX
          command:  |
            ./test/test_force.js --os=ios --apptype=hybrid_remote --use-sfdx
            if [ ! -e tmp**/App_hybrid_remote_ios/platforms/ios/build/emulator/App_hybrid_remote_ios.app ]; then
              exit 1
            fi
          when: always
      - run:
          name: Build React Native App with SFDX
          command:  |
            ./test/test_force.js --os=ios --apptype=react_native --use-sfdx
            if [ ! -e /Users/distiller/Library/Developer/Xcode/DerivedData/App_react_native_ios-**/Build/Products/Debug-iphoneos/App_react_native_ios.app ]; then
              exit 1
            fi
          when: always

workflows:
  version: 2

  pr-build-all-apps:
    jobs:
      - build-forcedroid
      - build-forcedroid-sfdx
      - build-forceios
      - build-forceios-sfdx