aliases:
#  Xcode version announcments can be found here: https://discuss.circleci.com/c/announcements/
#  Each post contains a full image manifest, including iOS runtimes, devices, CocoaPods version, etc.
  - &latest-xcode "15.2"
  - &latest-android "cimg/android:2024.01.1-node"
  - &invalid      ""

  - &setup
    name: Setup
    command: node ./install.js
    when: always

  - &install-cordova
    name: Install Cordova
    command:  |
      if [[ "$OSTYPE" == "linux-gnu" ]]; then
        sudo npm install -g cordova@12.0.0
      else 
        npm update -g
        npm install -g cordova@12.0.0
      fi
      sudo cordova telemetry off
    when: always

  - &install-sfdx
    name: Install SFDX
    command: |
      if [[ "$OSTYPE" == "linux-gnu" ]]; then
        sudo npm install -g @salesforce/cli
      else 
        npm install -g @salesforce/cli
      fi
    when: always

  - &install-typescript
    name: Install Typescript
    command: |
      if [[ "$OSTYPE" == "linux-gnu" ]]; then
        sudo npm install -g typescript
      else 
        npm install -g typescript
      fi
    when: always

  - &install-ninja-build
    name: Install Ninja Build
    command: sudo apt install ninja-build

  - &install-android-build-tools-34
    name: Install Android Build Tools 34.0.0
    command: sdkmanager --install "build-tools;34.0.0"

  - &mac-env
    parameters:
      xcode: 
        type: string
        default: *latest-xcode
    macos: 
      xcode: << parameters.xcode >>
    resource_class: macos.x86.medium.gen2
    working_directory: ~/SalesforceMobileSDK-Package
    environment:
      FASTLANE_SKIP_UPDATE_CHECK: "true"

version: 2.1
executors:
  linux:
    working_directory: ~/SalesforceMobileSDK-Package
    docker:
      - image: *latest-android
    resource_class: medium+
    environment:
      GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2g -XX:MaxMetaspaceSize=1g -XX:+HeapDumpOnOutOfMemoryError" -Dorg.gradle.daemon=false -Dfile.encoding=utf-8'

jobs:
  forcedroid:
    executor: linux
    steps:
      - checkout
      - run: *setup
      - run:
          name: Building all android native templates
          command:  ./test/test_force.js --exit-on-failure --cli=forcedroid
          when: always

  forcedroid-sfdx:
    executor: linux
    steps:
      - checkout
      - run: *setup
      - run: *install-sfdx
      - run:
          name: Building all android native templates with SFDX
          command: ./test/test_force.js --exit-on-failure --cli=forcedroid --use-sfdx
          when: always

  forcehybrid-android:
    executor: linux
    steps:
      - checkout
      - run: *setup
      - run: *install-cordova
      - run: *install-sfdx
      - run: *install-android-build-tools-34
      - run:
          name: Building all android hybrid templates
          command: ./test/test_force.js --exit-on-failure --cli=forcehybrid --os=android --no-plugin-update
          when: always

  forcehybrid-android-sfdx:
    executor: linux
    steps:
      - checkout
      - run: *setup
      - run: *install-cordova
      - run: *install-sfdx
      - run: *install-android-build-tools-34
      - run:
          name: Building all android hybrid templates with SFDX
          command: ./test/test_force.js --exit-on-failure --cli=forcehybrid --os=android --use-sfdx --no-plugin-update
          when: always

  forcereact-android:
    executor: linux
    steps:
      - checkout
      - run: *setup
      - run: *install-typescript
      - run: *install-ninja-build
      - run:
          name: Building all android react native templates
          command: ./test/test_force.js --exit-on-failure --cli=forcereact --os=android
          when: always

  forcereact-android-sfdx:
    executor: linux
    steps:
      - checkout
      - run: *setup
      - run: *install-sfdx
      - run: *install-typescript
      - run: *install-ninja-build
      - run:
          name: Building all android react native templates with SFDX
          command: ./test/test_force.js --exit-on-failure --cli=forcereact --os=android --use-sfdx
          when: always

  forceios:
    <<: *mac-env
    steps:
      - checkout
      - run: *setup
      - run:
          name: Building all ios native templates
          command:  ./test/test_force.js --exit-on-failure --cli=forceios
          when: always

  forceios-sfdx:
    <<: *mac-env
    steps:
      - checkout
      - run: *setup
      - run: *install-sfdx
      - run:
          name: Building all ios native templates with SFDX
          command: ./test/test_force.js --exit-on-failure --cli=forceios --use-sfdx
          when: always

  forcehybrid-ios:
    <<: *mac-env
    steps:
      - checkout
      - run: *setup
      - run: *install-cordova
      - run: *install-sfdx
      - run:
          name: Building all ios hybrid templates
          command:  |
              sudo chown -R `whoami` /Users/`whoami`/Library/Preferences/
              ./test/test_force.js --exit-on-failure --cli=forcehybrid --os=ios --no-plugin-update
          when: always

  forcehybrid-ios-sfdx:
    <<: *mac-env
    steps:
      - checkout
      - run: *setup
      - run: *install-cordova
      - run: *install-sfdx
      - run:
          name: Building all ios hybrid templates with SFDX
          command:  |
              sudo chown -R `whoami` /Users/`whoami`/Library/Preferences/
              ./test/test_force.js --exit-on-failure --cli=forcehybrid --os=ios --use-sfdx --no-plugin-update
          when: always

  forcereact-ios:
    <<: *mac-env
    steps:
      - checkout
      - run: *setup
      - run: *install-typescript
      - run:
          name: Building all ios react native templates
          command: ./test/test_force.js --exit-on-failure --cli=forcereact --os=ios
          when: always

  forcereact-ios-sfdx:
    <<: *mac-env
    steps:
      - checkout
      - run: *setup
      - run: *install-sfdx
      - run: *install-typescript
      - run:
          name: Building all ios react native templates with SFDX
          command: ./test/test_force.js --exit-on-failure --cli=forcereact --os=ios --use-sfdx
          when: always

#  Potential parameters that can come from the project GUI Triggers
parameters:
  xcode:
    type: string
    default: *invalid

workflows:
  version: 2

  pr-build-all-apps:
    when: 
      equal: [ "webhook", << pipeline.trigger_source >> ]
    jobs:
      - forceios
      - forcehybrid-ios
      - forcereact-ios
      - forcedroid
      - forcehybrid-android
      - forcereact-android
      - forcehybrid-android-sfdx
      - forcehybrid-ios-sfdx

  # Build everything at 8:00 PM PST Wednesday and Sunday
  weekly-build-all-apps:
    when:
      and:
        - not: << pipeline.parameters.xcode >>
        - not: 
            equal: [ "webhook", << pipeline.trigger_source >> ]
    jobs:
      - forceios
      - forcehybrid-ios
      - forcereact-ios
      - forcedroid
      - forcehybrid-android
      - forcereact-android
      - forcehybrid-android-sfdx
      - forcehybrid-ios-sfdx

  # Build everything iOS wtih Beta Xcode at 9:00 PM PST Wednesday and Sunday
  weekly-build-all-apps-ios-beta:
    when: 
      and:
        - << pipeline.parameters.xcode >>
        - not:
            equal: [ "webhook", << pipeline.trigger_source >> ]
    jobs:
      - forceios:
          xcode: << pipeline.parameters.xcode >>
      - forcehybrid-ios:
          xcode: << pipeline.parameters.xcode >>
      - forcereact-ios:
          xcode: << pipeline.parameters.xcode >>
