name: Nightly Tests

on:
  schedule:
    - cron: "0 3 * * 3"  # cron is UTC, this translates to 8 PM PST Wednesday.
  # This lets us trigger the workflow from a browser.
  workflow_dispatch:

jobs:
  android-nightly:
    strategy:
      fail-fast: false
    uses: ./.github/workflows/android-reusable-workflow.yaml
    
  ios-nightly:
    strategy:
      fail-fast: false
    uses: ./.github/workflows/ios-reusable-workflow.yaml